@import '../../styles/variables';

.custom-pagination-area{
  margin-top: 5rem;
}

.custom-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;

  .custom-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: $primary-color-light;
    cursor: pointer;
    font-weight: $font-weight-medium;
    position: relative;

    &.current{
      color: $color-highlight;

      &:after{
        display: block;
        content: "";
        width: 80%;
        background: currentColor;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.disabled{
      color: $color-cancel;
      pointer-events: none;
      opacity: 0.3;
    }
  }

}