@import 'fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'variables';

html {
  overflow-x: auto;
  font-size: 62.5%;
  *visibility: hidden;
  width: 100%;
}

@media screen and (min-width: 0\0) {
  :root,html {
    font-size:10px;
  }
}

@media screen and (-ms-high-contrast:active),(-ms-high-contrast: none) {
  :root,html {
    font-size: 10px;
  }
}

body {
  background: $bg1-light;
  color: $font1-color-light;
  font-family: $font-eng-basic, $font-kor-basic, sans-serif;
  font-weight: $font-weight-regular;
  font-size: var(--font-size-contents);
  line-height: $line-height-min;
}

html, body, div, p, span, strong, b, em, iframe, pre, h1, h2, h3, h4, h5, h6,
img, dl, dt, dd, fieldset, form, legend, label, table, caption, thead, tbody, tfoot, tr, th, td,
ul, ol, li, a, input, select, textarea, button {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  text-decoration: none;
  font-weight: inherit;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

em, address, i, span, label{
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: normal;
}

b,strong{
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
  line-height: 0;
  border: 0 none;
  font-size: 0;

  &[src=""]{
    display: none;
  }
}

input, select{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 none;
}

button{
  margin: 0;
  padding: 0;
  background: none;
  border:none;
  line-height: inherit;
  color: inherit;
  font-size: inherit;
  outline: 0 none;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

textarea{
  outline: 0 none;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

caption {
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}

th, td {
  vertical-align: middle;
}

input[type=number], input[type=password], input[type=tel], input[type=text], textarea{
  font: inherit;
  color: inherit;
}

label{
  display: inline-block;
  cursor: pointer;
}

html, body{
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-y: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


#wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(var(--vh, 1vh)*100);

  .contents-container{
    flex-grow: 1;
  }
}


.custom-inner-basic{
  width: 100%;
  max-width: $inner-basic;
  margin: 0 auto;
  padding: 0 $padding-basic;
}

.custom-inner-wide{
  width: 100%;
  max-width: $inner-wide;
  margin: 0 auto;
  padding: 0 $padding-basic;
}


.custom-page-nodata{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30rem;

  p{
    font-weight: $font-weight-medium;
    font-size: var(--font-size-page-subheading);
  }
}


html .react-select__control,
html .react-select__control--is--focused,
html .react-select__control:hover{
  outline: 0;
  font-size: var(--font-size-desc);
  padding: 0 $padding-basic;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  outline: 0 none;
  border: 2px solid $primary-color-light;
  box-shadow: inherit;
  border-radius: 0;
}
html .react-select__input-container{
  padding: 0;
  margin: 0;
}
html .react-select__input-container input{
  opacity: 0 !important;
}
html .react-select__value-container {
  padding: 0;
  margin: 0;
}

html .react-select__indicator-separator{
  display: none;
}

html .react-select__indicators div{
  //color: hsl(0, 0%, 40%) !important;
}


html .react-select__indicator svg{
  //filter: drop-shadow(1px 2px 2px #555);
  fill: $primary-color-light;
  path{
    fill: $primary-color-light;
  }
}

html .react-select__menu{
  outline: 0;
  font-size: var(--font-size-desc);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  margin: 1rem 0 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  background: $bg1-light;
  border: 2px solid $primary-color-light;
  position: static;
}

html .react-select__menu > *{
  margin: 0;
  padding: 0;

  > *{
    padding: 1rem 2rem;
  }
}

html .react-select__menu-list{

}

html .react-select__menu-list *{
  cursor: pointer;
}
html .react-select__menu-list *[class*="selected"]{
  background: hexToRgba($color-highlight, 0.5);
  color: $primary-color-light;
  font-weight: $font-weight-medium;
}

html .react-select__menu-list *[class*="focus"]{
  background: hexToRgba($color-highlight, 0.3);
  color: $primary-color-light;
}

html .react-select__menu-list *:active{
  background: hexToRgba($color-highlight, 0.5);
  color: $primary-color-light;
  font-weight: $font-weight-medium;
}

@media (prefers-color-scheme: dark) {
  /*
  body {
    background: $bg1-dark;
    color: $font1-color-dark;
  }*/
}

#fly-to-basket{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background: $bg1-light;
  border-radius: 50%;
  position: fixed;
  transition: .4s ease-in-out;
  border: 2px solid $primary-color-light;
  box-shadow: 2px 2px 10px hexToRgba($primary-color-light, 0.6);
  z-index: $z-index-modal-icon;

  &.start{
    .shop-cart{
      opacity: 1;
    }
  }

  &.animation{
    -webkit-animation: fade-out 1.5s ease-out both;
    animation: fade-out 1.5s ease-out both;
  }

  .shop-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: $primary-color-light;
    opacity: 0;
  }

  .plus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -1.2rem;
    right: -1.2rem;
    background: $bg1-light;
    border: 2px solid $primary-color-light;
    border-radius: 50%;
    display: none;
  }


}



/* ----------------------------------------------
 * Generated by Animista on 2023-11-10 3:7:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.swiper-button-prev, .swiper-button-next{
  width: calc(var(--swiper-navigation-size) / 5 * 7);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  mix-blend-mode: difference;
  justify-content: flex-start;

  &:after{
    font-family: inherit;
    content: "\f060";
  }

  &.swiper-button-next:after{
    content: "\f061";
  }

  &.swiper-button-next{
    justify-content: flex-end;
  }
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  top: inherit;
  bottom: 0;
}

.swiper-pagination-bullet{
  transition: .3s ease-in-out;
}
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active){
  width: var(--swiper-pagination-bullet-height);
  border-radius: 50%;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  right: var(--swiper-navigation-sides-offset);
}

#loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}
#box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
}
#shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}

.custom-go-top{
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: $z-index-modal;
  background: $primary-color-light;
  width: 4.7rem;
  height: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease-in-out;
  color: $quaternary-color-light;
  cursor: pointer;

  @include tablet{
    right: 2rem;
    bottom: 2rem;
  }

  &.is-hide{
    opacity: 0;
    pointer-events: none;
  }

  &:not(.is-hide){
    transition-delay: .2s;
  }
}

:root{

  //font size
  --font-size-heading: 2.4rem;
  --font-size-subheading: 1.8rem;
  --font-size-title: 1.8rem;
  --font-size-contents: 1.6rem;
  --font-size-desc: 1.5rem;
  --font-size-small: 1.4rem;
  --font-size-xsmall: 1.2rem;
  --font-size-button-xs: 1.2rem;
  --font-size-button-sm: 1.4rem;
  --font-size-button-md: 1.6rem;
  --font-size-button-lg: 1.8rem;
  --font-size-button-xl: 2.0rem;
  --font-size-page-heading: 3.0rem;
  --font-size-page-subheading: 1.8rem;

  --swiper-navigation-color: #fff;
  --swiper-theme-color: #6D9886;
  --swiper-navigation-sides-offset: 6rem;
  --swiper-navigation-size: 5rem;
  --swiper-pagination-progressbar-bg-color: #B4B6C2;
  --swiper-pagination-progressbar-size: 0.5rem;
  --swiper-pagination-color: #6D9886;
  --swiper-pagination-bottom: 10%;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-horizontal-gap: 0.5rem;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-width: 5rem;
  --swiper-pagination-bullet-height: 1.2rem;
  --swiper-pagination-bullet-size: 1.2rem;
  --swiper-pagination-bullet-border-radius: 3rem;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-inactive-color: rgba(247,247,247);
}

@include tablet{
  :root{

    //font size
    --font-size-heading: 2.0rem;
    --font-size-subheading: 1.6rem;
    --font-size-title: 1.6rem;
    --font-size-contents: 1.4rem;
    --font-size-desc: 1.4rem;
    --font-size-small: 1.3rem;
    --font-size-xsmall: 1.2rem;
    --font-size-button-xs: 1.2rem;
    --font-size-button-sm: 1.3rem;
    --font-size-button-md: 1.5rem;
    --font-size-button-lg: 1.6rem;
    --font-size-button-xl: 1.8rem;
    --font-size-page-heading: 2.4rem;
    --font-size-page-subheading: 1.6rem;

    --swiper-navigation-sides-offset: 2rem;
    --swiper-navigation-size: 3rem;
    --swiper-pagination-bottom: 4rem;
    --swiper-pagination-bullet-width: 3rem;
    --swiper-pagination-bullet-height: 1rem;
    --swiper-pagination-bullet-size: 1rem;
    --swiper-pagination-bullet-border-radius: 2rem;
  }
}

@include mobile{
  :root{

    //font size
    --font-size-heading: 1.8rem;
    --font-size-subheading: 1.4rem;
    --font-size-title: 1.5rem;
    --font-size-contents: 1.3rem;
    --font-size-desc: 1.3rem;
    --font-size-small: 1.3rem;
    --font-size-xsmall: 1.2rem;
    --font-size-button-xs: 1.2rem;
    --font-size-button-sm: 1.3rem;
    --font-size-button-md: 1.4rem;
    --font-size-button-lg: 1.5rem;
    --font-size-button-xl: 1.6rem;
    --font-size-page-heading: 2.0rem;
    --font-size-page-subheading: 1.4rem;
  }
}