@import '../../styles/variables';

.basket-sidebar-container{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 500px;
  background: $bg1-light;
  height: 100vh;
  z-index: $z-index-modal;
  border-left: 2px solid $primary-color-light;
  padding: $padding-basic;
  color: $primary-color-light;
  transition: .8s ease-in-out;
  display: none;

  @include mobile{
    max-width: 100%;
  }

  &.is-open{
    right: 0;
    display: block;
  }

  .basket-sidebar-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;


    .basket-sidebar-header{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 2rem;
      flex-shrink: 0;
    }

    .custom-basket-actions{
      flex-shrink: 0;
    }

    .custom-basket-products{
      flex-grow: 1;
      flex-shrink: 1;
      max-height: calc(100% - 3.2rem - 4.7rem - 6rem);

      .custom-scroll-thumb{
        right: 0;
      }
    }

    .basket-sidebar-footer{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;

      button{
        font-weight: $font-weight-medium;
      }
    }
  }
}