@import '../../styles/variables';

.custom-fixedFollow-page-container.type1{
  .custom-fixedFollow-page-wrap{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 5rem;
    padding-top: 3rem;

    .custom-fixedFollow-fixed{
      flex-grow: 1;
      flex-shrink: 1;
    }

    .custom-fixedFollow-follow{
      width: 35%;
      min-width: 40rem;
      flex-shrink: 0;

      .custom-fixedFollow-floating{
        position: sticky;
        top: calc(78px + 2rem);
        padding: 5rem;
        border: 2px solid $primary-color-light;
        overflow: hidden;
      }
    }
  }
}

.custom-fixedFollow-page-container.type2{

  .custom-fixedFollow-page-wrap{
    padding-top: 2rem;
  }

  .custom-fixedFollow-follow{

    .custom-fixedFollow-floating{
      max-height: calc(var(--vh, 1vh)*70);

      .custom-scroll-wrapper{

        .custom-scroll-area{
          padding: 2rem;
        }
      }
    }
  }

  .custom-fixedFollow-fixed-buttons{
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: calc(100% - 4rem - 5.7rem);
    margin: 2rem;
    transition: .4s ease-in-out;

    &.is-footer{
      opacity: 0;
      pointer-events: none;
    }

    &.is-top{
      width: calc(100% - 4rem);
      transition-delay: .2s;
    }

    &:not(.is-top){

    }
  }
}

.Panel .custom-fixedFollow-floating{
  max-height: calc((var(--vh, 1vh)*100 - 8rem)*0.8);
}