@import '../../styles/variables';


.footer-container{
  margin-top: 10rem;
  background: $gray-10;
  padding: 5rem 0;

  .logo-container{
    margin-bottom: 3rem;
    svg path{
      fill: $quaternary-color-light;
    }
  }

  .info-container{
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: $font-size-small;
        color: $gray-7;

        strong{
          text-transform: uppercase;
          margin-right: 0.5rem;
          font-weight: $font-weight-medium;
        }
      }

      &:not(:first-child){
        margin-top: 4rem;
        padding-top: 4rem;
        border-top: 1px solid $gray-7;

        li{
          flex-direction: column;
          row-gap: 1rem;
        }
      }
    }


  }

}