@import '../../styles/variables';

.menu-sidebar-container{
  position: fixed;
  top: 0;
  right: -100%;
  width: calc(100% - 4rem);
  background: $bg1-light;
  height: calc(var(--vh, 1vh)*100 - 4rem);
  z-index: $z-index-modal;
  border-left: 2px solid $primary-color-light;
  padding: $padding-basic;
  color: $primary-color-light;
  transition: .8s ease-in-out;
  display: none;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px hexToRgba($primary-color-light, 0.8);

  &.is-open{
    right: 0;
    display: block;
  }

  .menu-sidebar-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;


    .menu-sidebar-header{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 2rem;
      flex-shrink: 0;
    }

    .menu-sidebar-contents{
      flex-grow: 1;
    }


    //menu_*ul -> menu_*li 구조로 구성
    ul[class*="menu_"]{

      //1depth 메뉴 스타일
      &.menu_1ul{

      }

      //1depth 메뉴 외 스타일
      &:not(.menu_1ul){
        display: none;
        background: $quaternary-color-light;
        border-radius: 2rem;
        margin-top: 0.5rem;
      }

      //li 스타일
      > li{
        cursor: pointer;
        position: relative;

        > a{
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: $font-weight-medium;
          font-size: var(--font-size-title);
          position: relative;
        }

        &.is-submenu{
          .menu-expand-icon{
            position: absolute;
            right: 0;
            top: 0;
            width: 40%;
            height: 3.5rem;
            color: $gray-8;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
            font-style: normal;
            font-variant: normal;
            line-height: 1;
            text-rendering: auto;
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            &:after{
              margin-right: 1rem;
              font-family: inherit;
              content: "\f107";
            }
          }

          &.is-clicked{
            .menu-expand-icon{
              &:after{
                font-family: inherit;
                content: "\f106";
              }
            }
          }
        }

        &.menu_1li{
          > a{
            padding: 1rem 2rem;
          }
        }
        &:not(.menu_1li){
          > a{
            padding: 1rem 3rem;
          }
        }

        &.is-clicked{
          > a {
            font-weight: $font-weight-bold;
          }
          > ul{
            display: block;
          }
        }


      }
    }


    .menu-sidebar-footer{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-shrink: 0;

      button{
        font-weight: $font-weight-medium;
      }
    }
  }
}